{% extends 'base.html.twig' %}

{% block title %}{{association}}
{% endblock %}

{% block body %}

	<main>
		<h1 class="bigTitleAsso">Notre histoire</h1>
		<div class="paragAsso">
			<h2 class="titleAsso">La création</h2>
			<p class="txtAsso">Nous existons depuis 2019 suite à la collaboration entre l’association « Attelage Montagne » et l’écurie « Chez Fado ».
				La Compagnie Equid’cimes est la section spectacle d’Attelage Montagne.
				Nous travaillons dur pour faire émerger l’artiste qui sommeille en chacun des membres de notre compagnie.
				Lors de nos diverses prestations, vous pourrez découvrir l’amitié entre les équidés et l’homme, la découverte de l’histoire de façon immersive, être emportés dans un moment de rêve lors de nos spectacles.
				Rejoignez-nous dès aujourd’hui pour ne rien manquer.
			</p>
		</div>
		<div class="atelageMontagne">
			<p class="picAtelMon">photo atelage montagne</p>
			<div class="txtAtelMon">
				<p>L’association loi 1901 « Attelage Montagne » fut créer en 2012 dans le but de valoriser et promouvoir les équidés, l’équitation dont la traction animale. 
					Elle propose diverses prestations équestres telles que la location d’équidés, des promenades en attelage, des jeux à poney à thème, des spectacles…
				</p>
				<button class"buttonAtelMon">En savoir plus </button>
			</div>
		</div>
		<div class="paragAsso">
			<h2 class="titleAsso">Notre projet</h2>
			<p class="txtAsso">Nous souhaitons faire ressortir l’artiste qui sommeille en chacun de nous, tout en continuant à produire notre propre art. Tous nos membres peuvent apprendre à exprimer leur créativité. Nous proposons des prestations aux enfants, adolescents et adultes. La Compagnie Equid’cimes vous garantit une expérience artistique unique partageant ainsi notre passion du spectacle, de l’histoire et de l’équitation.
			</p>
		</div>
		<div class="paragAsso">
			<h2 class="titleAsso">La vie de la compagnie</h2>
			<p class="txtAsso">Elle se compose de plusieurs temps forts au cours de l’année.</p>
			<div>
				<h3>Période hivernale: de septembre à avril</h3>
				<p class="txtAsso">La préparation des spectacles et animations débutera dès le mois de septembre et se poursuivra jusqu’à juin.
					Durant cette période : 
						Création de numéros
						Création de costumes
						Création des accessoires
						Amélioration des jeux d’acteur
						Amélioration de l’équitation de spectacle des membres
						Amélioration des pratiques du maniement de l’escrime de spectacle
						Répétition des numéros
				</p>
				<h3>Période estivale: de mai à août</h3>
				<p class="txtAsso">Les spectacles auront lieu principalement les weekends du mois de juin au mois de septembre en tout lieu pour toutes occasions :
					fêtes
					animations scolaires
					séminaires
					mariages
					soirées thématiques
				</p>
			</div>
			<p>Vous souhaitez nous rejoindre, obtenir plus de renseignements, n’hésitez pas à nous contacter.</p>
		</div>
	</main>
{% endblock %}
