{% extends 'base.html.twig' %}

{% block title %}Alana Louarn Rouss{% endblock %}

{% block body %}
    <h1>Alana Louarn Rouss</h1>
    <h6>Dame de compagnie</h6>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="image-perso" src="{{ asset('build/images/alana.jpg') }}" alt="Alana Louarn Rouss"/>
            </div>
            <div class="col-6">
                <p></p>
                <p>Alana Louarn Rouss naquit près de Namnetes (Nantes/Naoned en breton), et fut la dernière fille de six enfants, composés majoritairement de garçons.</p>
                <p>C’est non loin du château, où grâce à l’un d’eux, et à l’abri des regards, qu’elle a appris le combat à l’épée ainsi que la joute à cheval.</p>
                <p>Un jour, alors que le Baron Louarn Rouss revenait de chasse, il découvrit cet interdit commis, et, pris d’une colère noire, il bannit son fils et envoya sa fille chez le Comte Henri de Neviére, un cousin éloigné de la famille (tant filialement que géographiquement).</p>
                <p>Elle arriva dans les hautes vallées des Alpes le jour du mariage de ce dernier, afin de devenir la dame de compagnie de sa nouvelle épouse Pétronille de Neviére pour ainsi acquérir tout le savoir-être que se doit d’avoir une dame digne ce nom.</p>
            </div>
        </div>
    </div>
{% endblock %}