{% extends 'base.html.twig' %}

{% block title %}Blanche de Villedieu{% endblock %}

{% block body %}
    <h1>Blanche de Villedieu</h1>
    <h6>Artisane et commerçante</h6>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="image-perso" src="{{ asset('build/images/blanche.jpg') }}" alt="Blanche de Villedieu"/>
            </div>
            <div class="col-6">
                <p></p>
                <p>Issue du'une longue lignée de marchands, Blanche de Villedieu voit ses origines remonter jusqu'aux vikings de Suède.</p>
                <p>Alors que son père commerce le cuivre typisque de cette bourgade normande, elle préfère les travausx d'aiguilles et le suis dans tous ses déplacements. Amené à voyager jusqu'en Italie, Blanche décide d'accompagner une fois de plus son père. Malheureusement, celui-ci contracte une méchante fièvre en arrivant aux alentours de Marseille. Ils rencontrent alors Aymont de Calvayrac qui fera tout pour le sauver, sans succès. Avant de mourir, son père confie à Messire Aymond la protection de Blanche, qui se joins quelques temps à sa maisnie.</p>
                <p>Passant par la foire de Beaucaire, au début de l'été, elle croise le chemin de Guigues d'Alboon, héraut des Hautes Terres. Se liant d'amitié et désormais orpheline, elle décide de le suivre, lui et sa suite d'artisans, lors de son retour en terres briançonnaises.</p>
            </div>
        </div>
    </div>
{% endblock %}