{% extends 'base.html.twig' %}

{% block title %}Les personnages{% endblock %}

{% block body %}
<h1 class="text-center my-5">Les personnages</h1>

<div class="container">
    <div class="row g-3">
        <p>image Guigues</p>
        {# <img src="{{ asset('build/path_to_image.png') }}" alt=""/ #}>
        <h2>Guigues d'Albon</h2>
    </div>
    <div class="row g-3">
        <p>image Blanche</p>
        <h2>Blanche de Villedieu</h2>
    </div>
    <div class="row g-3">
        <p>image Alana</p>
        <h2>Alana Louarn Rouss</h2>
    </div>
    <div class="row g-3">
        <p>image Théobald</p>
        <h2>Théobald</h2>
    </div>
</div>
{% endblock %}
