{% extends 'base.html.twig' %}

{% block title %}Théobald{% endblock %}

{% block body %}
    <h1>Théobald</h1>
    <h6>Mais qui est-il?</h6>
    <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="image-perso" src="{{ asset('build/images/theobald.jpg') }}" alt="Théobald"/>
                </div>
            <div class="col-6">
                <p></p>
                <p>Son histoire arrive très vite par pigeon voyageur!</p>
            </div>
        </div>
    </div>
    <a class="retour" href="{{ path("membres_index") }}">Retour</a>
{% endblock %}