.footer {
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    
    .footer-txt {
        font-family: 'Mukta', regular;
        font-size: 18px;
    }
    /* align-items: center; */

    .footer-social {
        padding-left: 10%;
        display: flex;

        .footer-suivre {
            padding-top: 1.25em;
        }

        .footer-fb {
            height: 3.5em;
            padding: 0.5em;
        }
    }

    .footer-copy {
        padding-right: 10%;
        padding-top: 1.25em;
        text-align: right;
    }
}