.navbar {
  background-color: white;
  height: 4,5vw;
  display: flex;

  .navbar-header {

    .navbar-logo{
      height: 4vw;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .navbar-title-black {
      font-family: 'Kalam', cursive;
      font-size: 2.1vw;
      font-weight: bold;
      text-decoration: none;
      color: black;
      padding-top: 1.75em;
    }

    .navbar-title-green {
      font-family: 'Kalam', cursive;
      font-size: 2.1vw;
      font-weight: bold;
      text-decoration: none;
      color: #095228;
      padding-top: 1.75em;
    }

    .navbar-title-red {
      font-family: 'Kalam', cursive;
      font-size: 2.1vw;
      font-weight: bold;
      text-decoration: none;
      color: #880000;
      padding-top: 1.75em;
    }
  }

  .navbar-navigation {
    text-align: center;
    justify-content: normal;
    
    .navbar-list {
      display: flex;
      list-style: none;
      padding-left: 10rem;
      padding-top: 1rem;

      .navbar-path {
        text-decoration: none;
        color: black;
        font-family: Playfair Display, regular;
        font-size: 1.15vw;
        text-transform: uppercase;
        display: inline;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}
