.imageHP {
    justify-content: center;
    display: flex;

    .image-accueil {
        width: 80%;
    }
}

.membres {
    margin-top: 4em;
    font-style: italic;
    font-size: 1vw;

    .membresLink {
        color: black;

        &:hover {
            color:#095228;
        }
    }
}
