.buttonLogin {
    border-radius: 10px;
    background-color: #095228;
    box-shadow: 0.5em 0.5em 0.75em black;
    font-family: 'Mukta', regular;
    font-weight: bold;
    font-size: 22px;
    color:white;
    margin-top: 2em;

    &:hover {
        background-color: white;
        color:#095228;
    }
}

.form-label {
    font-family: 'Mukta', regular;
    font-size: 22px;
    color:black;
}
