{% extends 'base.html.twig' %}

{% block title %}Nos prestations{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Les animations</h1>

        <div class="animations container">
            <div class="row flex">
                <div class="col-6">
                    <img class="image-presta-grande" src="{{ asset('build/images/animations.jpg') }}" alt="Animations"/>
                </div>
                <div class="col-6">
                    <p></P>
                    <p class="text-center">Elles sont liées au héraut d'armes. La journée, il animera les tournois en présentant les jouteurs et le déroulement du combat au public. Il en profitera pour dispenser ses connaissances en matière d'héraldique en détaillant chaque blason et sa signification. Chacun sera invité à prendre parti pour encourager, soutenir ou défendre les chevaliers lors du déroulement des épreuves.</p>
                    <p class="text-center">Le soir venu, le héraut d'armes se fera un plaisir d'animer le banquet aux côtés des saltimbanques à la façon médiévale: accueil des convives, annonce des invités (ou invités d'honneur), présentation des différents mets et numéros, accompagnement du public vers la sortie...</p>
                    <p class="text-center">Pour les grandes occasions, telles qu'un adoubement ou un mariage, c'est encore lui qui anime la cérémonie!</p>

                    <p class="presta-italic text-center">Tarifs sur <a class="presta-contact" href="{{ path('contact') }}">demande</a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}