{% extends 'base.html.twig' %}

{% block title %}Nos prestations{% endblock %}

{% block body %}

<div class="container">
    <div class="row g-3">
        <p>image campement</p>
        <h2>le campement</h2>
    </div>
    <div class="row g-3">
        <p>image ateliers</p>
        <h2>Les ateliers</h2>
    </div>
    <div class="row g-3">
        <p>image animations</p>
        <h2>Les animations</h2>
    </div>
</div>

{% endblock %}
