{% extends 'base.html.twig' %}

{% block title %}Nos prestations{% endblock %}

{% block body %}

<div class="container">
    <div class="row g-3">
        <p>image campement</p>
        <a href="{{ path('prestations_campement') }}">Le campement</a>
    </div>
    <div class="row g-3">
        <p>image ateliers</p>
        <a href="{{ path('prestations_ateliers') }}">Les ateliers</a>
    </div>
    <div class="row g-3">
        <p>image animations</p>
        <a href="{{ path('prestations_animations') }}">Les animations</a>
    </div>
</div>

{% endblock %}
