{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
   	<h1>Contact</h1>
   	<div class="contact">
		<h9>Vous pouvez nous contacter directement:</h9>
		<h3>Compagnie Equid'Cîmes</h3>
		<p>13, route de Pierrefeu</p>
		<p>Saint Blaise</p>
		<p>05100 BRIANÇON</p>
		<h3>Anthony FINE - 06.19.71.75.72</h3>
		<h3>compagnie.equidcimes@gmail.com</h3>
	</div>
	<div class="divForm">
		<h9>Ou remplir le formulaire de contact:</h9>
		<div class="buttonForm">
			<a href="{{ path('contact') }}"><button type="button" class="btn buttonContact">Formulaire de contact</button></a>
		</div>
	</div>
{% endblock %}