<footer class="footer fixed-bottom shadow">
	<div class="footer-social">
		<p>Suivez nos actualités sur notre page Facebook:</p>
		<div class="footer-fb">
			<a href="https://fr-fr.facebook.com/Equidcimes/">
				<i class='bx bxl-facebook-circle social_icon'></i>
			</a>
		</div>
	</div>
	<div class="footer-copy">
		<p class="">&copy; {{ "now"|date("Y") }} {{ 'Compagnie Equid\'Cîmes. Tous droits réservés.'|trans }}</p>
	</div>
</footer>
