<footer class="footer fixed-bottom shadow">
	<div class="footer-social">
		<div class="footer-suivre">
			<p class="footer-txt">Suivez nos actualités sur notre page Facebook:</p>
		</div>
		<div>
			<a href="https://www.facebook.com/Equidcimes"><img class="footer-fb" src="{{ asset('build/images/logoFacebook.png') }}" alt="logoFacebook"/></a>
		</div>
	</div>
	<div class="footer-copy">
		<p class="footer-txt">&copy; {{ "now"|date("Y") }} {{ 'Compagnie Equid\'Cîmes. Tous droits réservés.'|trans }}</p>
	</div>
</footer>
